$footer-height: 150px;
html {
  height: 100%;
}
body {
  margin:0 !important;
  background: $background-color;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  padding-bottom: $footer-height;
}

article {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.site-title {
  position: fixed;
  top: 8px;
  left: 8px;
}
.thumbnail {
  width: 280px;
  height: 200px;
  overflow:hidden;
  border-radius: 8px;
  // margin-right: 24px;
}
img {
  display:block;
  margin-top: 24px;
  margin-bottom: 6px;
}
.img-max-post-width {
  max-width: 100%;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}
.img-extra-post-width {
  width: 110%;
  margin-left: -5%;
  height: auto;
  overflow:hidden;
  border-radius: 16px;
}

.home {
  max-width: 800px;
  margin: 0 auto;
}
.page-content {
  padding-top: 164px;
}
ul {
  list-style-type: none;
}
.post-list li {
  width: 100%;
}
.post-list li>* {
  float: left;
}
.post-list h2 {
  text-align: left;
  margin:0;
}
.post-list-item-desc {
  // margin-left: 24px;
  box-sizing: border-box;
  padding-left: 24px;
  max-width: 456px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
}
