
@media screen and (max-width: 890px) {
  .img-extra-post-width {
    width:100%;
    margin:0;
  }
  article {
    padding: 16px;
  }
  .thumbnail {
    width: 100%;
    margin-bottom: 8px;
  }
  .page-content {
    padding-top: 110px;
  }
  .post-list-item-desc {
  width: 100%;
  }

  .hip-container {

    .col-right {
      margin: 0 auto; 
    }
  }
}
