
@media screen and (max-width: 890px) {
  .img-extra-post-width {
    width:100%;
    margin:0;
  }
  article {
    padding: 16px;
  }
}

//
// .img-full-post-width {
//   width: 110%;
//   margin-left: -5%;
//   height: auto;
//   overflow:hidden;
//   border-radius: 16px;
// }
