@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
  h1 {
    // font-size
  }
  .img-max-post-width, .img-extra-post-width {
    border-radius: 10px;
  }


    .hip-container {
      flex-direction: column;
      .col-left {
        padding-right: 0;
      }
    }

}
